; LDAP Zugangsdaten
ldapserver=ldap://10.1.1.32:389
ldapuser=changeme
ldappw=changeme
; Schulname angeben
ldapschule=Schulname
; ou für das der Passwortcheck durchgeführt werden soll
; Aktuell nur für eine Implementiert
ldapou= Lehrer

mailhost=10.1.1.32
mailuser=changeme
mailpw=changeme
mailfrom=admin@werkgymnasium.de
pwresethost=https://sk.meineschule.de
mailsmtpauth=false
mailsmtpsecure=false
mailsmtpautotls=false
; Debugging Nachrichten für Mailversand - nur für Entwickler gedacht
; 0 = no output, 1 = errors and messages, 2 = messages only
maildebug=0
