; LDAP Zugangsdaten
ldapserver=ldap://10.1.1.32:389
; LDAP Bind User anpassen
ldapuser=changeme
; Passwort in zwei einzelne Anführungszeichen setzen, um Probleme mit Sodnerzeichen zu verhindern
ldappw='changeme'
; Schulname anpassen falls nicht S01
ldapschule=S01
; ou für das der Passwortcheck durchgeführt werden soll
; Aktuell nur für eine ou gleichtzeitig implementiert. Ggf. mehrere Container bauen.
ldapou= Lehrer

; IP des GroupWise Servers
mailhost=10.1.1.32
; Benutzername für Mailaccount anpassen
mailuser=changeme
; Passwort in zwei einzelne Anführungszeichen setzen, um Probleme mit Sodnerzeichen zu verhindern
mailpw='changeme'
; Absendeadresse für die Mails
mailfrom=admin@wmeineschulem.de
; URL der mobilen Schulkonsole
pwresethost=https://sk.meineschule.de

mailsmtpauth=false
mailsmtpsecure=false
mailsmtpautotls=false
; Debugging Nachrichten für Mailversand - nur für Entwickler gedacht
; 0 = no output, 1 = errors and messages, 2 = messages only
maildebug=0
