# Jeden Tag um 00:00 Uhr werden die Passwörter überprüft werden
0 0 * * * /usr/local/bin/php /app/main.php > /app/log/cron.log
# Jeden Tag um 01:00 Uhr werden die Logfiles rotiert
0 1 * * * /usr/sbin/logrotate /etc/logrotate.d/log.conf > /app/log/cron.log
